.wrapper {
    background-image: linear-gradient(rgb(165, 200, 202), rgb(92, 163, 167) );
    padding: 1em;
}

.aboutBody {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}


.bioContainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 1em;
}
.bioContainer > .bioBox {
    line-height: 1.5em;
    background-color: rgb(250, 253, 250);
    padding: 1em;
    border-color: rgb(54, 87, 87);
    border-style: solid;
    border-width: 3px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}
